@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f3f3f3;
  background: #242323;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.paragraph {
  color: #f3f3f3;
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;

  .word {
    position: relative;
    margin-top: 2px;
    margin-left: 10px;

    .shadow{
      position: absolute;
      opacity: .1;
    }
  }
}